fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
databases[postgresql]
python-multipart
jinja2
passlib>=1.7.4
fastapi-users[sqlalchemy]
email-validator
python-dotenv
bcrypt
httpx
psycopg2-binary
Pillow
pydantic-settings
APScheduler
spacy